<launch>
    <arg name="mav_name" default="hummingbird"/>
    <arg name="fit_method" default="NM"/>       <!-- LFS, NM -->
    <arg name="fit_file_num" default="3"/>
    <arg name="cost_type" default="EXTERNAL"/>   <!-- EXTERNAL, LINEAR_LS -->
    <arg name="stable_time" default="5"/>
    <arg name="heading" default="true"/>
    
    <arg name="expriment" default="circle_speedup_stay"/>
    <arg name="experiment_time" default="10"/>
    <arg name="max_vel" default="15"/>   <!-- chang this -->
    <arg name="w_rate" default="0.1"/>
    <arg name="start_x" default="10"/>
    <arg name="start_y" default="0"/>
    <arg name="start_z" default="10"/>

    <!-- <arg name="expriment" default="circle_vertical"/>
    <arg name="start_x" default="5"/>
    <arg name="start_y" default="0"/>
    <arg name="start_z" default="10"/> -->
    
    <!-- <arg name="expriment" default="hover"/>
    <arg name="start_x" default="0"/>
    <arg name="start_y" default="0"/>
    <arg name="start_z" default="1"/> -->

    
    <arg name="hover_x" default="0"/>
    <arg name="hover_y" default="0"/>
    <arg name="hover_z" default="5"/>

    <!-- circle_speedup_stay
    circle_speedup
    hover -->


    <node pkg="mpc_ros" type="mpc_fit_param_node.py" name="mpc_fit_param_node" output="screen">
        <param name="quad_name" value="$(arg mav_name)"/>
        <param name="expriment" value="$(arg expriment)"/>
        <param name="experiment_time" value="$(arg experiment_time)"/>
        <param name="hover_x" value="$(arg hover_x)"/>
        <param name="hover_y" value="$(arg hover_y)"/>
        <param name="hover_z" value="$(arg hover_z)"/>
        <param name="start_x" value="$(arg start_x)"/>
        <param name="start_y" value="$(arg start_y)"/>
        <param name="start_z" value="$(arg start_z)"/>
        <param name="stable_time" value="$(arg stable_time)"/>
        <param name="fit_method" value="$(arg fit_method)"/>
        <param name="fit_file_num" value="$(arg fit_file_num)"/>
        <param name="cost_type" value="$(arg cost_type)"/>
        <param name="max_vel" value="$(arg max_vel)"/>
        <param name="w_rate" value="$(arg w_rate)"/>
        <param name="heading" value="$(arg heading)"/>
    </node>

    
</launch>