<launch>
  <arg name="cotomap/resolution" default="0.1"/>
  <arg name="cotomap/pointcloud_min_z" default="-0.1"/>
  <arg name="cotomap/pointcloud_max_z" default="30.0"/>

  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <!-- name of the fixed frame, needs to be "/map" for SLAM, default: /map -->
    <!-- 静态全局地图的 frame_id，但在增量式构建地图时，需要提供输入的点云帧和静态全局帧之间的 TF 变换 -->
    <param name = "frame_id" type = "string" value = "/map" />

    <!-- resolution in meters per pixel, default: 0.05 -->
    <param name = "resolution" value = "$(arg cotomap/resolution)" />

    <!-- The robot's base frame in which ground plane detection is performed (if enabled), default: base_footprint -->
    <param name = "base_frame_id" type = "string" value = "/hummingbird/base_link" />

    <!-- Whether visualization should encode height with different colors, default: true -->
    <param name = "height_map" value = "true" />

    <!-- set min to speed up! default: -1 (unlimited) -->
    <!-- 动态构建地图时用于插入点云数据的最大范围（以米为单位），将范围限制在有用的范围内（例如5m）可以防止虚假的错误点。 -->
    <param name = "sensor_model/max_range" value = "10.0" />

    <!-- when building map, set to false to speed up, default: True for a static map, false if no initial map is given -->
    <!-- <param name = "latch" value = "false" />  -->

    <!-- 动态构建地图时是否应从扫描数据中检测并忽略地平面，这会将清除地面所有内容，但不会将地面作为障碍物插入到地图中。如果启用此功能，则可以使用 ground_filter 对其进行进一步配置, default: false -->
	  <!-- <param name = "filter_ground" type = "bool" value = "false" /> -->
    <!-- 将点（在 z 方向上）分割为接地平面的距离阈值，小于该阈值被认为是平面, default: 0.04 -->
    <!-- <param name = "ground_filter/distance" type = "double" value = "1.0" /> -->
    <!-- 对于要检测为平面的平面，从 z = 0 到距离阈值（来自PCL的平面方程的第4个系数）, default: 0.07 -->
	  <!-- <param name = "ground_filter/plane_distance" type = "double" value = "0.3" /> -->

    <!-- max/min height for occupancy map, should be in meters, default: -/+ infinity -->
    <param name = "pointcloud_max_z" value = "$(arg cotomap/pointcloud_max_z)" />
    <param name = "pointcloud_min_z" value = "$(arg cotomap/pointcloud_min_z)" />

    <!-- Minimum and maximum height of occupied cells to be consider in the final map. This ignores all occupied voxels outside of the interval when sending out visualizations and collision maps, but will not affect the actual octomap representation, default: -/+ infinity -->
    <!-- <param name = "occupancy_max_z" type = "double" value = "100.0" /> -->
    <!-- <param name = "occupancy_min_z" type = "double" value = "-1.0" /> -->

    <!-- topic from where pointcloud2 messages are subscribed -->
    <remap from = "/cloud_in" to = "/camera/depth/color/points" />
 
  </node>
</launch>