<?xml version="1.0"?>
<launch>
  <arg name="quad_name" default="hummingbird"/>

  <arg name="mav_name" default="$(arg quad_name)"/>
  <arg name="model" value="$(find mpc_ros)/xacro/mav_generic_odometry_sensor.gazebo"/>
  <!-- <arg name="world_name" default="$(find rotors_gazebo)/worlds/basic.world"/> -->
  <arg name="world_name" default="$(find mpc_ros)/worlds/simple3.world"/>
  <!-- <arg name="world_name" default="$(find mpc_ros)/worlds/narrow_gap.world"/> -->
  <arg name="sensor_name" default="camera"/>

  <arg name="x_init" default="0"/>
  <arg name="y_init" default="0"/>
  <arg name="z_init" default="0"/>

  <arg name="use_mpc" default="false"/>
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="enable_command_feedthrough" default="true"/>
  <arg name="log_file" default="$(arg mav_name)" />
  <arg name="paused" value="false"/>
  <arg name="gui" value="false"/>
  <arg name="use_ground_truth" value="true"/>
  <arg name="verbose" default="false"/>
  <arg name="debug" default="false"/>

  <!-- Basic simulation environment !-->
  <include file="$(find mpc_ros)/launch/base_quad_simulation.launch">
    <arg name="quad_name" value="$(arg quad_name)"/>
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="use_ground_truth" value="$(arg use_ground_truth)"/>
    <arg name="use_mpc" value="$(arg use_mpc)"/>
    <arg name="enable_command_feedthrough" value="$(arg enable_command_feedthrough)" />

    <arg name="mav_name" value="$(arg mav_name)"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="enable_logging" value="$(arg enable_logging)"/>
    <arg name="enable_ground_truth" value="$(arg enable_ground_truth)"/>
    <arg name="log_file" value="$(arg log_file)"/>
    <arg name="verbose" default="$(arg verbose)"/>
    <arg name="debug" default="$(arg debug)"/>

    <arg name="x_init" value="$(arg x_init)"/>
    <arg name="y_init" value="$(arg y_init)"/>
    <arg name="z_init" value="$(arg z_init)"/>
  </include> 

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mpc_ros)/rviz/common.rviz" required="true" />

  <arg name="d435i_cam_depth_to_left_ir_offset" default="0.0"/>
  <arg name="d435i_cam_depth_to_right_ir_offset" default="-0.050"/>
  <arg name="d435i_cam_depth_to_color_offset" default="0.015"/>
  <arg name="d435i_cam_width" default="0.090"/>
  <arg name="d435i_cam_height" default="0.025"/>
  <arg name="d435i_cam_depth" default="0.02505"/>
  <arg name="d435i_cam_mass" default="1e-16"/>
  <arg name="d435i_cam_mount_from_center_offset" default="0.0149"/>
  <arg name="d435i_cam_depth_px" default="${d435i_cam_mount_from_center_offset}"/>
  <arg name="d435i_cam_depth_py" default="0.0175"/>
  <arg name="d435i_cam_depth_pz" default="${d435i_cam_height/2}"/>


  <!-- <node pkg="tf" type="static_transform_publisher" name="depth2depth_optical" args="0.17 0 -0.05 -1.57 0 -1.57 $(arg quad_name)/base_link $(arg sensor_name)_depth_optical_frame 100"/> -->

  <node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0 world map 10"/>
  <node pkg="tf" type="static_transform_publisher" name="base2cam" args="0.17 0 -0.05 0 0 0 $(arg quad_name)/base_link $(arg sensor_name)_link 10"/>
  <node pkg="tf" type="static_transform_publisher" name="cam2depth" args="0 0 0 0 0 0 $(arg sensor_name)_link $(arg sensor_name)_depth_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="depth2depth_optical" args="0 0 0 -1.57 0 -1.57 $(arg sensor_name)_depth_frame $(arg sensor_name)_depth_optical_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="depth2left_ir" args="0 ${d435i_cam_depth_to_left_ir_offset} 0 0 0 0 $(arg sensor_name)_depth_frame $(arg sensor_name)_left_ir_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="left_ir2left_ir_optical" args="0 0 0 -1.57 0 -1.57 $(arg sensor_name)_left_ir_frame $(arg sensor_name)_left_ir_optical_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="depth2_right_ir" args="0 ${d435i_cam_depth_to_right_ir_offset} 0 0 0 0 $(arg sensor_name)_depth_frame $(arg sensor_name)_right_ir_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="right_ir2right_ir_optical" args="0 0 0 -1.57 0 -1.57 $(arg sensor_name)_right_ir_frame $(arg sensor_name)_right_ir_optical_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="depth2color" args="0 ${d435i_cam_depth_to_color_offset} 0 0 0 0 $(arg sensor_name)_depth_frame $(arg sensor_name)_color_frame 10"/>
  <node pkg="tf" type="static_transform_publisher" name="color2color_optical" args="0 0 0 -1.57 0 -1.57 $(arg sensor_name)_color_frame $(arg sensor_name)_color_optical_frame 10"/>

  
</launch>
