<launch>
    <arg name="quad_name" default="hummingbird"/>
    <arg name="flight_corridor/bounding_box_x" default="1"/>
    <arg name="flight_corridor/bounding_box_y" default="1"/>
    <arg name="flight_corridor/bounding_box_z" default="0.5"/>
    <arg name="flight_corridor/goal_x" default="10.1"/>
    <arg name="flight_corridor/goal_y" default="0.5"/>
    <arg name="flight_corridor/goal_z" default="0.5"/>
    <arg name="flight_corridor/use_jps" default="true"/>
    <arg name="flight_corridor/use_prior" default="true"/>

    <arg name="grid_map/resolution" default="0.1"/>
    <arg name="grid_map/map_size_x" default="32.0"/>
    <arg name="grid_map/map_size_y" default="6.0"/>
    <arg name="grid_map/map_size_z" default="2.5"/>
    <arg name="grid_map/local_update_range_x" default="5.5"/>
    <arg name="grid_map/local_update_range_y" default="5.5"/>
    <arg name="grid_map/local_update_range_z" default="4.5"/>
    <arg name="grid_map/obstacles_inflation" default="0.1"/>
    <!-- camera parameter -->
    <arg name="grid_map/fx" default="462.1379699707031"/>
    <arg name="grid_map/fy" default="462.1379699707031"/>
    <arg name="grid_map/cx" default="320.0"/>
    <arg name="grid_map/cy" default="240.0"/>
    <!-- depth filter -->
    <arg name="grid_map/use_depth_filter" default="false"/>
    <arg name="grid_map/depth_filter_tolerance" default="0.15"/>
    <arg name="grid_map/depth_filter_maxdist" default="5.0"/>
    <arg name="grid_map/depth_filter_mindist" default="0.2"/>
    <arg name="grid_map/depth_filter_margin" default="2"/>
    <arg name="grid_map/k_depth_scaling_factor" default="1000.0"/>

    <!-- <arg name="grid_map/skip_pixel" default="0.1"/> -->
    <!-- local fusion -->
    <arg name="grid_map/p_hit"  default="0.65"/>
    <arg name="grid_map/p_miss" default="0.35"/>
    <arg name="grid_map/p_min"  default="0.12"/>
    <arg name="grid_map/p_max"  default="0.90"/>
    <arg name="grid_map/p_occ"  default="0.80"/>
    <arg name="grid_map/min_ray_length" default="0.1"/>
    <arg name="grid_map/max_ray_length" default="4.5"/>

    <arg name="grid_map/visualization_truncate_height" default="2.4"/>
    <arg name="grid_map/virtual_ceil_height" default="2.5"/>
    <!-- <arg name="grid_map/virtual_ceil_yp" default="0.1"/> -->
    <!-- <arg name="grid_map/virtual_ceil_yn" default="0.1"/> -->

    <arg name="grid_map/show_occ_time" default="false"/>
    <arg name="grid_map/pose_type" default="2"/>

    <arg name="grid_map/frame_id" default="world"/>
    <arg name="grid_map/local_map_margin" default="0.1"/>
    <arg name="grid_map/ground_height" default="-0.1"/>

    <arg name="grid_map/odom_depth_timeout" default="0.1"/>

    <include file="$(find mpc_ros)/launch/octomap.launch">
        <arg name="cotomap/resolution" value="$(arg grid_map/resolution) * 0.5"/>
        <arg name="cotomap/pointcloud_min_z" value="$(arg grid_map/ground_height)"/>
        <!-- <arg name="cotomap/pointcloud_max_z" value="$(arg grid_map/ground_height) + $(arg grid_map/map_size_z)"/> -->
        <arg name="cotomap/pointcloud_max_z" value="$(arg grid_map/map_size_z)"/>
    </include>

    <node pkg="flight_corridor" type="flight_corridor_node" name="flight_corridor_node" output="screen">
        <param name="flight_corridor/bounding_box_x" value="$(arg flight_corridor/bounding_box_x)"/>
        <param name="flight_corridor/bounding_box_y" value="$(arg flight_corridor/bounding_box_y)"/>
        <param name="flight_corridor/bounding_box_z" value="$(arg flight_corridor/bounding_box_z)"/>
        <param name="flight_corridor/goal_x" value="$(arg flight_corridor/goal_x)"/>
        <param name="flight_corridor/goal_y" value="$(arg flight_corridor/goal_y)"/>
        <param name="flight_corridor/goal_z" value="$(arg flight_corridor/goal_z)"/>
        <param name="flight_corridor/use_jps" value="$(arg flight_corridor/use_jps)"/>
        <param name="flight_corridor/use_prior" value="$(arg flight_corridor/use_prior)"/>

        <param name="grid_map/resolution" value="$(arg grid_map/resolution)"/>
        <param name="grid_map/map_size_x" value="$(arg grid_map/map_size_x)"/>
        <param name="grid_map/map_size_y" value="$(arg grid_map/map_size_y)"/>
        <param name="grid_map/map_size_z" value="$(arg grid_map/map_size_z)"/>
        <param name="grid_map/local_update_range_x" value="$(arg grid_map/local_update_range_x)"/>
        <param name="grid_map/local_update_range_y" value="$(arg grid_map/local_update_range_y)"/>
        <param name="grid_map/local_update_range_z" value="$(arg grid_map/local_update_range_z)"/>
        <param name="grid_map/obstacles_inflation" value="$(arg grid_map/obstacles_inflation)"/>
        <!-- camera parameter -->
        <param name="grid_map/fx" value="$(arg grid_map/fx)"/>
        <param name="grid_map/fy" value="$(arg grid_map/fy)"/>
        <param name="grid_map/cx" value="$(arg grid_map/cx)"/>
        <param name="grid_map/cy" value="$(arg grid_map/cy)"/>
        <!-- depth filter -->
        <param name="grid_map/use_depth_filter" value="$(arg grid_map/use_depth_filter)"/>
        <param name="grid_map/depth_filter_tolerance" value="$(arg grid_map/depth_filter_tolerance)"/>
        <param name="grid_map/depth_filter_maxdist" value="$(arg grid_map/depth_filter_maxdist)"/>
        <param name="grid_map/depth_filter_mindist" value="$(arg grid_map/depth_filter_mindist)"/>
        <param name="grid_map/depth_filter_margin" value="$(arg grid_map/depth_filter_margin)"/>
        <param name="grid_map/k_depth_scaling_factor" value="$(arg grid_map/k_depth_scaling_factor)"/>

        <!-- <param name="grid_map/skip_pixel" default="0.1"/> -->
        <!-- local fusion -->
        <param name="grid_map/p_hit"  value="$(arg grid_map/p_hit)"/>
        <param name="grid_map/p_miss" value="$(arg grid_map/p_miss)"/>
        <param name="grid_map/p_min"  value="$(arg grid_map/p_min)"/>
        <param name="grid_map/p_max"  value="$(arg grid_map/p_max)"/>
        <param name="grid_map/p_occ"  value="$(arg grid_map/p_occ)"/>
        <param name="grid_map/min_ray_length" value="$(arg grid_map/min_ray_length)"/>
        <param name="grid_map/max_ray_length" value="$(arg grid_map/max_ray_length)"/>

        <param name="grid_map/visualization_truncate_height" value="$(arg grid_map/visualization_truncate_height)"/>
        <!-- <param name="grid_map/visualization_truncate_height" value="$(arg grid_map/visualization_truncate_height)"/> -->
        <param name="grid_map/virtual_ceil_height" value="$(arg grid_map/virtual_ceil_height)"/>
        <!-- <param name="grid_map/virtual_ceil_yp" default="0.1"/> -->
        <!-- <param name="grid_map/virtual_ceil_yn" default="0.1"/> -->

        <param name="grid_map/show_occ_time" value="$(arg grid_map/show_occ_time)"/>
        <param name="grid_map/pose_type" value="$(arg grid_map/pose_type)"/>

        <param name="grid_map/frame_id" value="$(arg grid_map/frame_id)"/>
        <param name="grid_map/local_map_margin" value="$(arg grid_map/local_map_margin)"/>
        <param name="grid_map/ground_height" value="$(arg grid_map/ground_height)"/>

        <param name="grid_map/odom_depth_timeout" value="$(arg grid_map/odom_depth_timeout)"/>

        <remap from="~grid_map/odom" to="/$(arg quad_name)/ground_truth/odometry"/>
        <remap from="~grid_map/cloud" to="/camera/depth/color/points"/>
        <remap from="~grid_map/pose"   to = "/$(arg quad_name)/ground_truth/pose"/> 
        <remap from="~grid_map/depth" to = "/camera/depth/image_raw"/>
    </node>


</launch>